body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    }

    header {
        background-color: #F15B31;
        color: white;
        padding: 30px 20px;
    }

    nav {
        background-color: #00A6B3;
        color: white;
        padding: 20px 0;
    }

    nav a {
        margin: 0 20px;
        color: white;
        border-bottom: 2px solid transparent;
    }

    nav a:hover {
        border-color: white;
    }

    nav #reset-button {
        display: none;
    }


    main {
        width: 850px;
        margin: 35px auto;
        }

    main img {
        margin: 40px 8px 0 8px;
    }

    h1 {
        font-weight: 400;
        font-size: 45px;
        margin: 0;
    }

    h3 {
        color: #0D2C40;
        font-weight: 400;
        font-size: 25px;
    }

    a {
        color: #F15B31;
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
    }

    main p {
        color: #0D2C40;
        font-weight: 600;
        font-size: 20px;
        display: block;
    }

    main .hidden {
        display: none;
    }

    footer {
        text-transform: uppercase;
        padding: 0 20px;
        background-color: #0D2C40;
        color: white;
        font-size: 14px;
        letter-spacing: .08em;
        font-weight: 500;
    }

    .copyright {
        float: left;
        color: white;
    }

    .message {
        float: right;
    }

    .name {
        font-weight: 700;
        color: #F15B31;
    }

    .card:hover {
        box-shadow: rgb(224, 61, 216) 0px 0px 30px;
    }

    .card {
        transition: all 0.5s;
    }

    .clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
    }
